@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");
body {
  font-family: "Roboto Mono", monospace;
  font-size: 16px;
}

h1, h2, h3, h4, h5, h6, p, a {
  margin: 0;
  padding: 0;
  color: var(--text);
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  min-width: 100vw;
  background-color: var(--bg);
}

main {
  min-height: 100vh;
  min-width: 100vw;
}

.flex {
  display: flex;
}
.flex-justcont-c {
  justify-content: center;
}
.flex-justcont-sb {
  justify-content: space-between;
}
.flex-alignit-c {
  align-items: center;
}
.flex-dir-col {
  flex-direction: column;
}
.flex-dir-col-rev {
  flex-direction: column-reverse;
}

.padding-normal {
  padding-left: 256px;
  padding-right: 256px;
}

.margin-normal {
  margin-left: 256px;
  margin-right: 256px;
}

:root {
  --bg: hsla(0, 0%, 94%, 1);
  --text: hsla(0, 0%, 19%, 1);
}

.more {
  border: 1px solid var(--text);
  padding: 2px 10px;
  margin-bottom: 48px;
  cursor: pointer;
  user-select: none;
  text-decoration: none;
  transition: all 150ms ease-in-out;
}
.more:hover {
  color: var(--bg);
  background: var(--text);
}

.texts {
  width: 928px;
  justify-content: space-between;
}

.about {
  width: 454px;
}
.about-title {
  font-size: 32px;
  padding-bottom: 16px;
}
.about-body {
  text-align: justify;
}

.social {
  width: 454px;
  align-items: end;
}
.social-links {
  flex-grow: 1;
  align-items: end;
}
.social-link {
  align-items: center;
  cursor: pointer;
  user-select: none;
  text-decoration: none;
  border: 1px solid transparent;
  transition: all 150ms ease-in-out;
}
.social-link p {
  padding-right: 8px;
}
.social-link img {
  width: 30px;
}
.social-link:hover {
  border: 1px solid var(--text);
}

.images {
  width: 928px;
  padding-top: 32px;
  padding-bottom: 40px;
}

.featured {
  display: block;
  background-color: grey;
}
.featured-first {
  height: 500px;
  width: 454px;
}
.featured-others {
  height: 245px;
  width: 451px;
}

@media screen and (min-width: 640px) and (max-width: 1023px) {
  .images {
    width: 620px;
  }
  .texts {
    width: 620px;
    flex-direction: column;
  }
  .featured {
    display: block;
    background-color: grey;
  }
  .featured-first {
    height: 334px;
    width: 303px;
    margin-right: 23px;
  }
  .featured-others {
    height: 163px;
    width: 301px;
  }
  .featured-others-one {
    margin-bottom: 10px;
  }
  .about {
    width: 620px;
  }
  .social {
    width: 620px;
    padding-top: 32px;
    align-items: start;
  }
  .social-links {
    align-items: start;
    width: 620px;
  }
  .social-links a {
    padding: 10px 10px 10px 0;
    margin-bottom: 16px;
  }
  .social-links a:last-child {
    margin-bottom: 0;
  }
  .social-link {
    align-items: center;
  }
}
@media screen and (max-width: 639px) {
  .featured-others {
    display: none;
  }
}
header {
  height: 80px;
  width: 928px;
  border-bottom: 1px solid var(--text);
}
header .middle {
  margin: 0 64px 0 64px;
}
header .active {
  text-decoration: underline;
  text-underline-offset: 2px;
}
header a {
  text-decoration: none;
  cursor: pointer;
  transition: all 150ms ease-in-out;
}
header a:hover {
  text-decoration: underline;
  text-underline-offset: 2px;
}

@media screen and (min-width: 640px) and (max-width: 1023px) {
  header {
    width: 620px;
  }
}

/*# sourceMappingURL=style.css.map */
