@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");
body {
  font-family: "Roboto Mono", monospace;
  font-size: 16px;
}

h1, h2, h3, h4, h5, h6, p, a {
  margin: 0;
  padding: 0;
  color: var(--text);
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  min-width: 100vw;
  background-color: var(--bg);
}

main {
  min-height: 100vh;
  min-width: 100vw;
}

.flex {
  display: flex;
}
.flex-justcont-c {
  justify-content: center;
}
.flex-justcont-sb {
  justify-content: space-between;
}
.flex-alignit-c {
  align-items: center;
}
.flex-dir-col {
  flex-direction: column;
}
.flex-dir-col-rev {
  flex-direction: column-reverse;
}

.padding-normal {
  padding-left: 256px;
  padding-right: 256px;
}

.margin-normal {
  margin-left: 256px;
  margin-right: 256px;
}

.width {
  width: 928px;
}

@media screen and (max-width: 1023px) {
  .width {
    width: 620px;
  }
}
@media screen and (max-width: 639px) {
  .width {
    width: 320px;
  }
}
:root {
  --bg: hsla(0, 0%, 94%, 1);
  --text: hsla(0, 0%, 19%, 1);
}

.all-main {
  font-size: 48px;
  padding-top: 50px;
  padding-bottom: 32px;
}
.all-article {
  align-items: start;
}
.all-title {
  font-size: 32px;
}
.all-date {
  padding-left: 16px;
}
.all-body {
  text-align: justify;
  padding-bottom: 24px;
}

.search {
  padding-bottom: 16px;
}
.search-bar {
  height: 32px;
  width: 624px;
  padding-left: 20px;
  padding-right: 56px;
  border: 1px solid var(--text);
}
.search-bar::placeholder {
  opacity: 1;
  color: var(--text);
  font-family: "Roboto Mono", monospace;
}
.search-bar:focus {
  outline: none;
}
.search-bar-svg {
  position: relative;
  left: -36px;
}
.search select {
  height: 32px;
  width: 280px;
  color: var(--text);
  font-family: "Roboto Mono", monospace;
  border: 1px solid var(--text);
  border-radius: 0;
  background-color: #FFF;
  padding-left: 20px;
}

.texts {
  justify-content: space-between;
}

.about-title {
  font-size: 48px;
  padding-bottom: 16px;
}
.about-body {
  text-align: justify;
}

.social-title {
  font-size: 32px;
  padding-top: 16px;
  padding-bottom: 16px;
}
.social-links {
  flex-grow: 1;
  margin-top: 32px;
  margin-bottom: 32px;
}
.social-link {
  align-items: center;
  cursor: pointer;
  user-select: none;
  text-decoration: none;
  border: 1px solid transparent;
  transition: all 150ms ease-in-out;
}
.social-link p {
  padding-left: 8px;
}
.social-link img {
  width: 30px;
}
.social-link:hover {
  border: 1px solid var(--text);
}

.images {
  padding-top: 32px;
}

.featured {
  display: block;
  background-color: grey;
}
.featured-first {
  height: 500px;
  width: 454px;
}
.featured-others {
  height: 245px;
  width: 451px;
}

@media screen and (max-width: 1023px) {
  .texts {
    flex-direction: column;
  }
  .featured {
    display: block;
    background-color: grey;
  }
  .featured-first {
    height: 334px;
    width: 303px;
    margin-right: 23px;
  }
  .featured-others {
    height: 163px;
    width: 301px;
  }
  .featured-others-one {
    margin-bottom: 10px;
  }
  .search-bar {
    width: 320px;
  }
  .search select {
    width: 230px;
  }
  .social-links a {
    padding: 10px 10px 10px 0;
  }
  .social-links a:last-child {
    margin-bottom: 0;
  }
  .social-link {
    align-items: center;
  }
}
@media screen and (max-width: 639px) {
  .featured-first {
    margin: 0;
  }
  .featured-others {
    display: none;
  }
  .all-main {
    font-size: 40px;
  }
  .all-title {
    font-size: 28px;
  }
  .about-title {
    font-size: 40px;
  }
  .search {
    flex-direction: column;
  }
  .search-bar {
    margin-bottom: 8px;
  }
  .social-links {
    flex-wrap: wrap;
  }
}
.article {
  align-self: start;
}
.article-title {
  font-size: 48px;
}
.article-author {
  width: fit-content;
  font-size: 24px;
  text-decoration: none;
}
.article-date {
  padding-right: 16px;
}
.article-body {
  text-align: justify;
  padding-bottom: 32px;
}

@media screen and (max-width: 375px) {
  .article-mobile {
    flex-direction: column;
  }
}
header {
  height: 80px;
  width: 928px;
  border-bottom: 1px solid var(--text);
}
header .middle {
  margin: 0 64px 0 64px;
}
header a {
  text-decoration: none;
  cursor: pointer;
  transition: all 150ms ease-in-out;
}
header a:hover {
  text-decoration: underline;
  text-underline-offset: 2px;
}

@media screen and (max-width: 1023px) {
  header {
    width: 620px;
  }
}
@media screen and (max-width: 639px) {
  header {
    width: 320px;
  }
}

/*# sourceMappingURL=style.css.map */
