header{
    height: 80px;
    width: 928px;
    border-bottom: 1px solid var(--text);

    .middle{
        margin: 0 64px 0 64px;
    }

    a{
        text-decoration: none;
        cursor: pointer;

        transition: all 150ms ease-in-out;
        
        &:hover{
            text-decoration: underline;
            text-underline-offset: 2px;
        }
    }
}

@media screen and (max-width: 1023px){
    header{
        width: 620px;
    }
}

@media screen and (max-width: 639px){
    header{
        width: 320px;
    }
}
