.article{
    align-self: start;

    &-title{
        font-size: 48px;
    }

    &-author{
        width: fit-content;
        font-size: 24px;
        text-decoration: none;
    }

    &-date{
        padding-right: 16px;
    }

    &-body{
        text-align: justify;
        padding-bottom: 32px;
    }
}

@media screen and (max-width: 375px){
    .article{
        &-mobile{
            flex-direction: column;
        }
    }
}

