@use '../globals/typography' as *;

.all{
    &-main{
        font-size: 48px;
        padding-top: 50px;
        padding-bottom: 32px;
    }

    &-article{
        overflow-x: scroll;
    }

    &-title{
        font-size: 32px;
    }

    &-date{
        padding: 4px 0 8px 0;
    }

    &-body{
        text-align: justify;
        padding-bottom: 24px;
    }

    &-box{
        min-height: 320px;
        min-width: 280px;
        margin-right: 32px;
        padding: 0 4px 0 4px;
        border: 1px solid var(--text);
        text-decoration: none;
    }
}

.search{
    padding-bottom: 16px;

    &-bar{
        height: 32px;
        width: 624px;
        padding-left: 20px;
        padding-right: 56px;
        border: 1px solid var(--text);

        &::placeholder{
            opacity: 1;
            color: var(--text);
            font-family: $font;
        }

        &:focus{
            outline: none;
        }

        &-svg{
            position: relative;
            left: -36px;
        }
    }

    select{
        height: 32px;
        width: 280px;

        color: var(--text);
        font-family: $font;

        border: 1px solid var(--text);
        border-radius: 0;
        background-color: #FFF;
        padding-left: 20px;
    }
}

.texts{
    justify-content: space-between;
}

.about{
    &-title{
        font-size: 48px;
        padding-bottom: 16px;
    }

    &-body{
        text-align: justify;
    }
}

.social{
    &-title{
        font-size: 32px;
        padding-top: 16px;
        padding-bottom: 16px;
    }

    &-links{
        flex-grow: 1;

        margin-top: 32px;
        margin-bottom: 32px;
    }

    &-link{
        align-items: center;
        cursor: pointer;
        user-select: none;
        text-decoration: none;

        border: 1px solid transparent;

        p{
            padding-left: 8px;
        }

        img{
            width: 30px;
        }

        transition: all 150ms ease-in-out;

        &:hover{
            border: 1px solid var(--text);
        }
    }
}

.images{
    padding-top: 32px;

    a{
        text-decoration: none;
    }
}

.github{
    height: 40px;
    width: 40px !important;
}

.featured{
    display: block;

    &-text{
        color: var(--bg);
        align-self: end;
        padding: 16px;
        font-size: 28px;
        user-select: none;
        font-weight: 600;
    }

    &-first{
        height: 500px;
        width: 454px;

        img{
            height: 500px;
            width: 454px;
        }

        &-overlay{
            position: relative;
            height: 500px;
            width: 454px;
            content: '';
            top: -101%;
            background: linear-gradient(0deg, #00000090 30%, #ffffff45 100%);
            z-index: 1;
        }
    }

    &-others{
        height: 245px;
        width: 451px;

        &-overlay{
            position: relative;
            height: 245px;
            width: 451px;
            content: '';
            top: -102%;
            background: linear-gradient(0deg, #00000090 30%, #ffffff45 100%);
            z-index: 1;
        }

        img{
            height: 245px;
            width: 451px;
        }
    }

    img{
        object-fit: cover;
    }
}

@media screen and (max-width: 1023px){
    .texts{
        flex-direction: column;
    }

    .featured{
        display: block;

        &-text{
            font-size: 16px;
            padding: 4px;
        }

        &-first{
            height: 334px;
            width: 303px;
            margin-right: 23px;

            img{
                height: 334px;
                width: 303px;
            }

            &-overlay{
                position: relative;
                height: 334px;
                width: 303px;
            }
        }

        &-others{
            height: 163px;
            width: 301px;

            &-overlay{
                position: relative;
                height: 163px;
                width: 301px;
            }

            img{
                height: 163px;
                width: 301px;
            }

            &-one{
                margin-bottom: 10px;
            }
        }
    }

    .search{
        &-bar{
            width: 320px;
        }

        select{
            width: 230px;
        }
    }

    .social{
        &-links{
            a{
                padding: 10px 10px 10px 0;

                &:last-child{
                    margin-bottom: 0;
                }
            }
        }

        &-link{
            align-items: center;
        }
    }
}

@media screen and (max-width: 639px){
    .featured{
        &-first{
            margin: 0;
        }

        &-others{
            display: none;
        }
    }

    .all{
        &-main{
            font-size: 40px;
        }

        &-title{
            font-size: 28px;
        }
    }

    .about{
        &-title{
            font-size: 40px;
        }
    }

    .search{
        flex-direction: column;

        &-bar{
            margin-bottom: 8px;
        }
    }

    .social{
        &-links{
            flex-wrap: wrap;
        }
    }
}
