{% extends "main.html" %}
{% block body %}
<div class='flex flex-dir-col flex-alignit-c width'>
    <header class='flex flex-justcont-c flex-alignit-c'>
        <a href="{% url 'index' %}">HOME</a>
        <a href="{% url 'index' %}#all" class='middle'>ARTICLES</a>
        <a href="{% url 'index' %}#about">ABOUT ME</a>
    </header>
    <div class="flex flex-dir-col article">
        <p class="article-title">{{ article.title }}</p>
        <a href="{% url 'index' %}#about" class="article-author">{{ article.author }}</a>
        <p class="article-body">{{ article.content|safe }}</p>
    </div>
</div>
{% endblock %}

